<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->

  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">

  <title>Frontend Mentor | Landing page with detailed integrations section</title>

</head>

<body>
  <header>
    <div class="flexbox">
      <div>
        <a href="#"><div class="sprite"></div></a>
      </div>
      <div>
      <a href="#" class="call-to-action-btn">Sign In</a>
      <a href="#" class="normal-link">Sign Up</a>
      </div>
    </div>
  </header>

  <main>

    <div>
      <h1>All your files in one secure location, accessible anywhere.</h1>
      <p>
        Fylo stores all your most important files in one secure location.
        Access them wherever you need, share and collaborate with friends,
        family and co-workers.
      </p>
      <a href="#" class="call-to-action-btn">Get Started</a>
    </div>

    <div>
      <h1>Stay productive, wherever you are</h1>
      <p>
        Never let location be an issue when accessing your files. Fylo has you
        covered for all of your file storage needs.
      </p>
    </div>

    <div>
      All platforms, all devices, all your files

      Security you can trust

      Real-time collaboration
    </div>

    <div>
      <div>
        Connect with the apps you use everyday

        Fylo seamlessly integrates with hundreds of apps, meaning you can access and
        work on your files from the apps you already know and love.
      </div>
      <div>
        <div>
          Slack
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id varius eros, vel pharetra est.
        </div>
        <div>
          GSuite
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id varius eros, vel pharetra est.
        </div>
        <div>
          Trello
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id varius eros, vel pharetra est.
        </div>
        <div>
          Asana
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id varius eros, vel pharetra est.
        </div>
        <div>
          Salesforce
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id varius eros, vel pharetra est.
        </div>
        <div>
          Typeform
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id varius eros, vel pharetra est.
        </div>
      </div>
    </div>

    <div>
      <h1>Start using Fylo today</h1>

      <p>
        It only takes a minute to sign up and our free starter tier is extremely generous. If you have any
        questions, our support team would be happy to help you.
      </p>

      <a href="#" class="call-to-action-btn">Get Started</a>
    </div>
  </main>

  <footer>
    <div>
      <div>
        Receive updates from us, including tips and tricks on how to improve your workflow.

        Join

        Phone: +1-543-123-4567

        example@fylo.com
      </div>
      <div>
        <div>
          <h2>Fylo</h2>

          Desktop App
          Mobile App
          Pricing
          Feature
        </div>
        <div>
          <h2>Company</h2>

          About Us
          Jobs
          Press
          Blog
        </div>
        <div>
          <h2>Support</h2>

          Contact Us
          Terms
          Privacy
        </div>
      </div>
    </div>
  </footer>
  <div>
    <p class="attribution">
      This page started life as a challenge on <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend
        Mentor</a> 🎉
    </p>
  </div>
</body>

</html>